@use '../../../styles/_breakpoints';
@use '../../../styles/_variables' as *
@use '../../../styles/_typography' as *
@use '../../../styles/_mixin' as *
@use '../../../styles/_function' as *


::ng-deep .p-dialog
    @include flex-container(flex, null, null, column)
    gap: 1.25rem
    border-radius: 0.75rem
    padding: 1.5rem 1.25rem
    background-color: $white !important
    color: $grey900
    width: pxToRem(335)

    ::ng-deep .p-dialog-header, .p-dialog-content
        padding: 0

        ::ng-deep .p-dialog-title
            @extend .preset-2
            color: $grey900

        form
            @include flex-container(flex, null, null, column)
            gap: 1.25rem

            p
                @extend .preset-4
                color: $grey500

            .content
                @include flex-container(flex, null, null, column)
                gap: 1rem

                .field
                    @include flex-container(flex, null, null, column)
                    gap: 0.25rem

                    label
                        @extend .preset-5
                        font-weight: 700
                        color: $grey500

                    input
                        padding: 0.75rem 1.25rem
                        border-radius: 0.5rem
                        border: 1px solid $beige500
                        background-color: $white
                        color: $grey900
                        width: 100%
                    
                    span
                        @extend .preset-5
                        color: $grey500
                        text-align: right
                    

                ::ng-deep .p-select, .p-select-list
                    background-color: $white
                    border: 1px solid $beige500

                    ::ng-deep .p-select-label
                        color: $grey900
                        span
                            color: $grey900


                    ::ng-deep .p-select-list
                        ::ng-deep .p-select-option
                            color: $grey900
                            @include flex-container(flex, null, center, row)

                            .item
                                @include flex-container(flex, null, center, row)
                                
                                .circle
                                    width: 1rem
                                    height: 1rem
                                    border-radius: 50%
                                    margin-right: 0.5rem
                                    border: 1px solid red

                                .name
                                    @extend .preset-4
                                    color: $grey900
                                    margin-left: 0.5rem

            ::ng-deep button
                width: 100%

@include breakpoints.mq(tablet)
    ::ng-deep .p-dialog
        width: pxToRem(560)