@use '../../../styles/_mixin' as *
@use '../../../styles/_typography' as *
@use '../../../styles/_variables' as *

.container
    @include flex-container(flex, space-between, null, column)
    gap: 2rem

    .content-title
        @extend .preset-1
        color: $grey900

    .summary
        @include flex-container(flex, null, null, column)
        gap: 0.75rem

        .card
            @include flex-container(flex, null, null, column)
            padding: 1.25rem
            border-radius: 0.75rem
            background-color: $white

            span
                @extend .preset-4
                font-weight: 400

            p
                @extend .preset-1
        
        .current
            background-color: $grey900
            color: $white
