@use '../styles/_breakpoints'
@use '../styles/_mixin' as *
@use '../styles/_variables' as *

.main-container
    @include flex-container(flex, space-between, null, column)
    height: 100vh

    .container
        padding: 1.5rem 1rem
        background-color: $beige100

// media queries
@include breakpoints.mq(tablet)
    .main-container
        .container
            padding: 2rem 2.5rem
