@use '../../../styles/_breakpoints';
@use '../../../styles/_variables' as *
@use '../../../styles/_typography' as *
@use '../../../styles/_mixin' as *
@use '../../../styles/_function' as *

::ng-deep .p-dialog
    @include flex-container(flex, null, null, column)
    gap: 1.25rem
    border-radius: 0.75rem
    padding: 1.5rem 1.25rem
    background-color: $white !important
    color: $grey900
    width: pxToRem(335)

    ::ng-deep .p-dialog-content
        @include flex-container(flex, null, null, column)
        gap: 1.25rem

        .btn
            button
                width: 100%
                font-weight: 400

@include breakpoints.mq(tablet)
    ::ng-deep .p-dialog
        width: pxToRem(560)
        
    